html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(203, 37, 203);
  font-weight: bold;
  font-family: "Calligraffitti", cursive;
  word-spacing: 3px;
}
#background {
  background: url("/media/wonderland-forest.jpeg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  border: 5px solid black;
  border-radius: 10px;
  min-height: 90vh;
  margin-top: 10px;
}
#title {
  text-align: center;
  font-size: 3.4rem;
  margin-top: 15px;
  font-weight: bold;
  color: white;
}
.todays-details {
  text-align: center;
}
.form-control,
.searchCityButton {
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  color: black;
  font-size: 2rem;
  background-color: white;
  font-weight: bold;
}
.searchCityButton:hover {
  background-color: #085f63;
}
.form-control {
  margin-left: 50px;
  width: 500px;
}

.searchCityButton {
  width: 80px;
}
hr {
  color: black;
}

.weather-app {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 6px -8px 20px 6px rgb(2, 23, 3, 0.7);
  border: 1px solid rgb(27, 25, 25);
  background-color: #cccceaee;
  max-width: 600px;
  margin-bottom: 30px;
}

#city-input {
  width: 300px;
}

#city,
#temperature,
#date {
  text-align: center;
  color: black;
  font-weight: bold;
}

#temperature {
  font-size: 2.4rem;
  color: rgb(152, 16, 152);
}
#celcius-link,
#fahrenheit-link {
  color: rgb(152, 16, 152);
  text-decoration: none;
  font-size: 1.6rem;
}
#description,
#humidity,
#wind {
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 20px;
  color: #085f63;
  font-weight: bold;
}

#code-tag {
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
  color: rgb(152, 16, 152);
}

p {
  color: white;
  text-align: center;
  font-size: 2.2rem;
}
.github-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-style: italic;
}

.github-link:hover {
  color: #085f63;
}
#forecast-row {
  text-align: center;
}
.weather-forecast-date {
  text-align: center;
  color: #27296d;
  font-size: 2rem;
}
.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  color: #085f63;
  font-size: 1.8rem;
}

#cat-pic {
  max-height: 185px;
  object-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.all-mad-here {
  animation-name: mad-here;
  animation-timing-function: ease-in;
  max-width: 200px;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes mad-here {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }

  75% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.8;
  }
}
