html {
  font-size: 62.5%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
#background {
  background: url("/media/wonderland-forest.jpeg");
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
  border: 5px solid black;
  border-radius: 10px;
  min-height: 90vh;
  margin-top: 10px;
}
#title {
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
}
.todays-details {
  text-align: center;
}
.form-control,
.searchCityButton {
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  color: black;
  font-size: 2rem;
  background-color: white;
  font-style: bold;
}
#city-input:hover {
  color: black;
}
.form-control {
  margin-left: 30px;
  width: 500px;
}

.searchCityButton {
  width: 80px;
}
.weather-app {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 2rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  border: 1px solid rgb(27, 25, 25);
  background-color: rgb(156, 63, 156);
  max-width: 500px;
}

#city-input {
  width: 300px;
}

#temperature {
  text-align: left;
  display: inline;
  color: black;
}

#celcius-link,
#fahrenheit-link {
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#description,
#humidity,
#wind {
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 16px;
}

#code-tag {
  margin-top: 20px;
  font-size: 2rem;
}

p {
  color: rgb(156, 63, 156);
}
.github-link {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-style: italic;
}

.github-link:hover {
  color: purple;
}
#forecast-row {
  text-align: center;
}
.weather-forecast-date {
  text-align: center;
  color: black;
  font-size: 16px;
}
.weather-forecast-temperature-max {
  color: black;
  text-align: center;
  font-size: 14px;
}
.weather-forecast-temperature-min {
  color: pink;
  text-align: center;
  font-size: 14px;
}

#cat-pic {
  max-height: 175px;
  object-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.all-mad-here {
  animation-name: mad-here;
  animation-timing-function: ease-in;
  max-width: 200px;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

@keyframes mad-here {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }

  75% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.8;
  }
}
